.breadcrumbs__list {
  @include container;

  display: flex;
  flex-direction: row;

  list-style: none;
  font-size: 24px;
}

.breadcrumbs__item {
  position: relative;

  padding-right: 40px;

  &:last-child::after {
    display: none;
  }

  &::after {
    content: ">";
    position: absolute;
    right: 11px;

    color: #adadad;
  }
}

.breadcrumbs__link {
  color: #adadad;

  &:not([href]) {
    color: #283891;
  }

  &:hover,
  &:focus {
    color: #283891;

    transition: all 0.3s;
  }
}

@media (max-width: $extra-desktop-width) {
  .breadcrumbs__list {
    font-size: 20px;
  }
}
