.consultation {
  background-color: #f6f6f6;
}

.consultation__container {
  @include container;

  padding-top: 75px;
  padding-bottom: 125px;
}

.consultation__title {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
}

.consultation__text {
  margin: 0;
  margin-bottom: 80px;
  padding: 0;
  padding-right: 980px;
}

.consultation__form {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.consultation__item {
  position: relative;
  z-index: 1;

  width: 450px;
  margin: 0;
  margin-right: 100px;
  padding: 0;

  &--select::after {
    content: "";
    position: absolute;
    top: 38px;
    right: 20px;
    z-index: 1;

    width: 16px;
    height: 13px;

    background-image: url("../img/icon-triagle.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.consultation__input,
.consultation__select {
  position: relative;
  z-index: 2;

  width: 100%;
  margin: 0;
  padding: 25px;

  background: none;
  border: none;
  border-bottom: 1px solid #23242a;

  &:hover,
  &:focus {
    border-color: #273896;
    outline: none;
  }
}

.consultation__select {
  appearance: none;
}

.consultation__submit {
  padding: 25px 100px;

  border: none;
}
