.contact {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

.contact__link {
  display: block;
  margin: 0;
  margin-right: 60px;
  padding: 10px;

  font-weight: 400;
  font-size: 1rem;
  color: #000000;
  letter-spacing: 0.42px;

  &:hover,
  &:focus {
    color: #283891;

    outline: none;

    transition: all 0.3s;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $extra-desktop-width) {
  .contact__link {
    font-size: 1.2rem;
  }

  .page-footer .contact__link {
    font-size: 1rem;
  }
}
