.dropdown {
  position: absolute;
  top: 220px;
  left: 50%;
  z-index: 10;

  display: block;
  width: 1000px;
  margin: 0;
  padding: 45px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;

  &--closed {
    visibility: hidden;
    opacity: 0;
  }

  &--opened {
    visibility: visible;
    opacity: 1;

    transition: 0.7s;
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__columns {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.dropdown__column {
  width: 270px;
  margin-right: 50px;

  &:last-child {
    margin-right: 0;
  }
}

.dropdown__list {
  @include resetList;
}

.dropdown__link {
  display: block;
  padding: 10px 0;

  color: #414147;

  &:hover,
  &:focus {
    color: #283891;

    outline: none;

    transition: all 0.3s;
  }
}

@media (max-width: $extra-desktop-width) {
  .dropdown {
    top: 180px;
  }
}
