.dropdown {
  display: block;

  position: absolute;
  top: 230px;
  left: 50%;

  margin: 0;
  padding: 45px;

  width: 1000px;

  transform: translateX(-50%);

  background-color: #ffffff;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  border-radius: 8px;

  z-index: 10;

  visibility: hidden;
  opacity: 0;

  &--closed {
    visibility: hidden;
    opacity: 0;
  }

  &--opened {
    visibility: visible;
    opacity: 1;
    transition: 0.7s;
  }

  &:hover {
    visibility: visible;
    opacity: 1;
  }
}

.dropdown__columns {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
}

.dropdown__column {
  margin-right: 50px;

  width: 270px;

  &:last-child {
    margin-right: 0;
  }
}

.dropdown__list {
  @include resetList;
}

.dropdown__link {
  display: block;
  padding: 10px 0;

  color: #414147;

  &:hover,
  &:focus {
    outline: none;
    color: #283891;
    transition: all 0.3s;
  }
}
