.flag {
  display: block;
  width: 41px;
  height: 42px;
  margin: 0;
  padding: 0;

  background: none;
  border: 2px solid transparent;
  border-radius: 50%;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid #00aeef;
    border-radius: 50%;
    outline: none;

    transition: all 0.3s;
  }
}

.flag__image {
  display: block;
  width: 37px;
  height: 38px;
}
