.font-size {
  font-size: 24px;

  &--decreased {
    font-size: 20px;
  }

  &--increased {
    font-size: 28px;
  }
}

.font-size__buttons {
  display: flex;
  flex-direction: row;

  position: absolute;
  top: 57px;
  right: -60px;
}

.font-size__button {
  margin: 0;
  margin-right: 3px;
  padding: 0;

  width: 25px;
  height: 25px;

  background: none;
  border: none;

  opacity: 0.5;

  cursor: pointer;

  &--increase {
    background-image: url("../img/icon-font-size-plus.svg");
    background-position: left;
    background-repeat: no-repeat;
  }

  &--decrease {
    background-image: url("../img/icon-font-size-minus.svg");
    background-position: left;
    background-repeat: no-repeat;
  }

  &:focus,
  &:hover {
    outline: none;
    opacity: 1;
    transition: all 0.3s;
  }

  &:last-child {
    margin-right: 0;
  }
}

@media (max-width: $extra-desktop-width) {
  .font-size {
    font-size: 20px;

    &--decreased {
      font-size: 18px;
    }

    &--increased {
      font-size: 22px;
    }
  }
}

@media (max-width: $extra-desktop-width) {
  .font-size__buttons {
    top: 41px;
  }
}
