.heading {
  margin: 0;
  padding: 0;

  font-weight: 700;
  font-size: 80px;
  color: #1a1a1b;
  letter-spacing: 1.25px;
}

@media (max-width: $extra-desktop-width) {
  .heading {
    font-size: 60px;
  }
}
