.illiquid__container {
  @include container;
}

.illiquid__wrapper {
  position: relative;

  margin-top: 50px;
  margin-bottom: 50px;
}

.illiquid__search {
  position: relative;
  z-index: 1;

  width: 360px;
  margin-bottom: 100px;

  &::before {
    content: "";
    position: absolute;
    top: 15px;
    right: 10px;

    width: 31px;
    height: 31px;

    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.illiquid__input {
  z-index: 2;

  width: 100%;
  margin: 0;
  padding: 15px;
  padding-right: 55px;

  background: none;
  border: none;
  border-bottom: 1px solid #23242a;

  &:hover,
  &:focus {
    border-color: #273896;
    outline: none;
  }
}

.illiquid__table {
  width: 100%;
  margin: 0;
  padding: 0;

  border-collapse: collapse;

  border: none;
}

.illiquid__table-head {
  margin: 0;
  padding: 0;

  font-weight: 700;
}

.illiquid__item {
  & td {
    margin: 0;
    padding: 0;
    padding-top: 50px;
    padding-bottom: 50px;

    border: none;
    border-bottom: 1px solid #9a9a9d;
  }

  &:last-child td {
    border: none;
  }
}

.illiquid__name {
  width: 580px;
}

.illiquid__amount {
  width: 460px;
}

.illiquid__files {
  width: 345px;
}

.illiquid__link {
  position: relative;

  padding-left: 60px;

  color: #414147;

  &:hover,
  &:focus {
    color: #273896;

    transition: all 0.3s;
  }
}

.illiquid__link--pdf {
  &::before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;

    width: 40px;
    height: 57px;

    background-image: url("../img/icon-pdf.png");
    background-repeat: no-repeat;
    background-position: center;
  }
}

.illiquid__button {
  width: 100%;
  padding: 20px 0;

  font-size: 20px;

  border: none;
}
