.languages {
  position: absolute;
  z-index: 10;

  display: block;
  width: 300px;
  min-height: 154px;

  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  transform: translateX(-50%);
  visibility: hidden;
  opacity: 0;

  &:hover,
  &:focus {
    visibility: visible;
    opacity: 1;
  }

  &::before {
    content: "";
    position: absolute;
    top: -8px;
    right: 0;

    width: 75px;
    height: 8px;

    background-color: transparent;
  }
}

.languages__list {
  @include resetList;

  position: relative;

  display: flex;
  flex-direction: column;
  padding: 20px;

  background-color: #ffffff;
  border-radius: 8px;
}

.languages__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 15px;

  &:last-child {
    margin-bottom: 0;
  }

  &--active .languages__image {
    border: 2px solid #00aeef;
    border-radius: 50%;
  }
}

.languages__image {
  margin-right: 20px;
}

.languages__wrapper {
  display: flex;
  flex-direction: column;
}

.languages__link {
  margin: 0;
  padding: 0;

  color: #000000;

  &:hover,
  &:focus {
    color: #283891;

    outline: none;

    transition: all 0.3s;
  }
}

.languages__text {
  margin: 0;
  padding: 0;

  font-size: 0.57rem;
  color: #413d3d;
}

@media (max-width: $extra-desktop-width) {
  .languages {
    min-height: 137px;
  }
}
