.page-header {
  margin-bottom: 15px;
}

.page-header__container {
  @include container;
}

.page-header__bar {
  position: relative;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-bottom: 15px;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;

  border-bottom: 1px solid #d0d0de;
}

.page-header__logo {
  display: block;

  &-image {
    width: 396px;
    height: 83px;
  }
}

.page-header__contact {
  margin: 0;
  margin-right: 50px;
  margin-left: auto;
  padding: 0;
}

.page-header__toggle {
  display: none;
}

.page-header__toggle.page-header__toggle--open {
  position: relative;

  width: 34px;

  background: none;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 5px;
    right: 3px;

    width: 28px;
    height: 3px;

    background-color: #000000;
    border: 0;
    box-shadow: 0 10px 0 0 #000000, 0 20px 0 0 #000000;
  }
}

.page-header__toggle.page-header__toggle--close {
  position: relative;

  width: 34px;

  background: none;
  border: none;

  &::before {
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;

    width: 28px;
    height: 2px;

    background-color: #000000;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 16px;
    left: 3px;

    width: 28px;
    height: 2px;

    background-color: #000000;
    transform: rotate(-45deg);
  }
}

.page-header__languages {
  top: 100px;
  right: -165px;

  display: none;
}

.page-header__flag:hover + .page-header__languages,
.page-header__flag:focus + .page-header__languages {
  visibility: visible;
  opacity: 1;

  transition: 0.7s;
}

.inner-page .page-header {
  margin-bottom: 60px;
}
