.product__container {
  @include container;
}

.product__wrapper {
  position: relative;

  margin-top: 50px;
  margin-bottom: 50px;

  & h3 {
    margin: 0;
    margin-top: 60px;
    margin-bottom: 30px;
    padding: 0;
  }
}

.product__text {
  margin-bottom: 80px;
  padding-right: 820px;

  line-height: 36px;
}

.product__link {
  color: #414147;
}

.product__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;

  @include resetList;
}

.product__item {
  margin-right: 25px;
  margin-bottom: 25px;

  &:last-child {
    margin-right: 0;
  }

  & input[type="radio"]:checked + .product__label {
    color: #ffffff;

    background-color: #00aeef;
    border-color: #00aeef;

    transition: all 0.3s;
  }

  & input[type="radio"]:checked + .product__label .product__desc {
    display: block;
  }
}

.product__label {
  display: block;
  margin: 0;
  padding: 20px 35px;

  font-weight: 700;
  font-size: 17px;
  line-height: normal;
  color: #414147;
  text-transform: uppercase;
  letter-spacing: 1.13px;

  border: 2px solid #00aeef;
  border-radius: 8px;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid #273896;

    transition: all 0.3s;
  }
}

.product__desc {
  display: none;
  margin-top: 10px;

  font-weight: 400;
  font-size: 14px;
}

.product__submit {
  display: none;
}

.product__cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 40px;

  @include resetList;
}

.product__card {
  width: 380px;
  margin-right: 40px;
  margin-bottom: 40px;

  border-radius: 8px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    transform: translateY(-10px);

    transition: all 0.3s;
  }
}

.product__card-image-container {
  width: 380px;
  height: 285px;
  margin: 0;
  padding: 0;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product__card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.product__card-label {
  margin: 0;
  padding: 35px 20px;

  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #273896;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}
