.slider {
  background-color: #f6f7f7;
}

.slider__container {
  @include container;
}

.slider__list {
  @include resetList;

  position: relative;
  z-index: 2;
}

.slider__item {
  position: relative;

  padding-top: 170px;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: -200px;

    width: 800px;
    height: 880px;

    background-image: url("../img/slide-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
  }
}

.slider__title {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  padding-right: 400px;

  font-weight: 700;
  font-size: 127px;
  line-height: 145.66px;
  color: #1a1a1b;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.slider__button {
  margin-bottom: 200px;
}

.slider__controls {
  @include resetList;

  position: absolute;
  bottom: 50px;
  left: 50%;

  display: flex;
  flex-direction: row;

  transform: translateX(-50%);

  & li {
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }

    & button {
      width: 20px;
      height: 20px;
      margin: 0;
      padding: 0;

      font-size: 0;

      background-color: #dedede;
      border: none;
      border-radius: 50%;
      cursor: pointer;

      &:hover,
      &:focus {
        background-color: #0e1d72;
        outline: none;

        transition: all 0.3s;
      }
    }

    &.slick-active button {
      background-color: #00aeef;
    }
  }
}
