.use__container {
  @include container;

  padding-top: 100px;
  padding-bottom: 100px;
}

.use__title {
  margin-bottom: 65px;
}

.use__list {
  @include resetList;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.use__item {
  margin-right: 25px;
  margin-bottom: 25px;

  &:last-child {
    margin-right: 0;
  }

  & input[type="radio"]:checked + .use__label {
    color: #ffffff;

    background-color: #00aeef;
    border-color: #00aeef;

    transition: all 0.3s;
  }
}

.use__label {
  display: block;
  margin: 0;
  padding: 20px 35px;

  font-weight: 700;
  font-size: 0.6rem;
  line-height: normal;
  color: #414147;
  text-transform: uppercase;
  letter-spacing: 1.13px;

  border: 2px solid #00aeef;
  border-radius: 8px;
  cursor: pointer;

  &:hover,
  &:focus {
    border: 2px solid #273896;

    transition: all 0.3s;
  }
}

.use__submit {
  display: none;
}

.use__cards {
  @include resetList;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.use__card {
  display: flex;
  flex-direction: column;

  width: 380px;
  margin-right: 40px;
  margin-bottom: 40px;

  background-color: #273896;

  border-radius: 8px;
  box-shadow: 0 0 18px rgba(0, 0, 0, 0.3);

  &:nth-child(4n) {
    margin-right: 0;
  }

  &:hover,
  &:focus {
    transform: translateY(-10px);

    transition: all 0.3s;
  }
}

.use__card-image-container {
  width: 380px;
  height: 285px;
  margin: 0;
  padding: 0;

  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.use__card-image {
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.use__card-label {
  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0;
  padding: 35px 20px;

  min-height: 100px;

  font-weight: 700;
  font-size: 0.85rem;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #273896;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (max-width: $extra-desktop-width) {
  .use__container {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .use__label {
    padding: 15px 30px;
  }

  .use__card {
    width: 277px;
    margin-right: 20px;
    margin-bottom: 20px;

    &:nth-child(4n) {
      margin-right: 0;
    }
  }

  .use__card-label {
    padding: 25px 20px;
    font-size: 1rem;
  }

  .use__card-image-container {
    width: 277px;
    height: 208px;
  }
}
