@mixin resetList {
  margin: 0;
  padding: 0;

  list-style: none;
}

@mixin container {
  width: $extra-desktop-width;
  margin: 0 auto;
  padding: 0 30px;

  @media (max-width: $extra-desktop-width) {
    margin: 0 auto;
    padding: 0 15px;
    width: 1200px;
  }
}
