*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;

  font-size: 18px;
  font-weight: 400;
  font-family: "PT Sans", sans-serif;
  color: #414147;
}

.content-box-component {
  box-sizing: content-box;
}

body {
  width: 100%;
  min-width: 1200px;
  margin: 0;
  padding: 0;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

@media (max-width: $extra-desktop-width) {
  html {
    font-size: 16px;
  }
}
